.App {
  text-align: center;
}
div {
  background-size: cover;
}

.home, .home div, .navbar {
  display: flex;
}

.home, .home div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.home div {
flex-direction: column;
}

.home div{
  height: 40em;
  width: 30em;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}


